<mat-card style="padding: 10px">
    <mat-card-title style="text-align: center;">Punch Now</mat-card-title>
    <button mat-raised-button style="width: 50%; background-color: firebrick; left: 25%" (click)="autoPunch()">PUNCH</button>
    <p></p>
    <mat-error *ngIf="punchShiftTrue" style="color:green;">{{punchShiftRes}}</mat-error>
    <mat-error *ngIf="punchShiftFalse">{{punchShiftRes}}</mat-error>
</mat-card>
<p></p>
<mat-card style="padding: 10px">
    <mat-card-title style="text-align: center">Generate Shift</mat-card-title>
    <mat-form-field class="example-full-width">
        <input #g_date matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date"
            [formControl]="dateFormControl" [errorStateMatcher]="matcherDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dateFormControl.hasError('required')">Date is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input #g_start matInput placeholder="Choose the start time" [formControl]="startTimeFormControl"
            [errorStateMatcher]="matcherSTime" />
        <mat-error *ngIf="startTimeFormControl.hasError('required')">Start time is <strong>required</strong></mat-error>
    </mat-form-field>:

    <mat-form-field class="example-full-width">
        <input #g_end matInput placeholder="Choose the end time" [formControl]="endTimeFormControl" [errorStateMatcher]="matcherETime" />
        <mat-error *ngIf="endTimeFormControl.hasError('required')">End time is <strong>required</strong></mat-error>
    </mat-form-field>
    <p></p>
    <button mat-raised-button style="width: 20%; background-color: firebrick;" (click)=generatePunch(g_date.value,g_start.value,g_end.value)>PUNCH</button>
    <mat-error>{{generateShiftRes}}</mat-error>
</mat-card>

<p></p>
<mat-card style="padding: 10px">
    <mat-card-title style="text-align: center">Your Shift Status</mat-card-title>
    <span>{{shiftStatus}}</span>
</mat-card>